@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}


.todo-item label {
    @apply block mr-4 cursor-pointer ;
}


.todo-item.done .todo-content input {
    @apply line-through text-green-700;
}