@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-item label {
	background-color: red;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: gray;
}